<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deployment</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
    <a th:href="@{/}">Home</a> &gt; <a th:href="@{/environment/{environmentName}(environmentName=${deployment.environment.name})}" th:text="${deployment.environment.name}"></a> &gt; <a th:href="" th:text="${deployment.versionedArtifact.name}"></a> &gt; Deployment #<th:block th:text="${deployment.id}" />
    <a th:href="@{/}">Console Output</a>

    <table>
        <tr>
            <td th:text="${deployment.environment.name}"></td>
        </tr>
        <tr>
            <td th:text="${deployment.versionedArtifact.name}"></td>
        </tr>
        <tr>
            <td th:text="${deployment.versionedArtifact.version}"></td>
        </tr>
        <tr>
            <td th:text="${deployment.status}"></td>
        </tr>
        <tr>
            <td th:text="${deployment.createdAt}"></td>
        </tr>
        <tr>
            <td th:text="${deployment.finishedAt}"></td>
        </tr>
    </table>

    <form action="#" th:action="@{/promote}" th:object="${deployment}">
        <button id="promote" name="promote" type="button">Promote</button>
    </form>
</body>
</html>
