<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="#{deployments}"></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Deployments</li>
        </ol>
    </nav>

    <body>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th th:text="#{deployment.id}"></th>
                    <th th:text="#{artifact.name}"></th>
                    <th th:text="#{artifact.version}"></th>
                    <th th:text="#{environment}"></th>
                    <th th:text="#{status}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="deployment : ${allDeployments}">
                    <td th:text="${deployment.id}"></td>
                    <td th:text="${deployment.versionedArtifact.name}"></td>
                    <td th:text="${deployment.versionedArtifact.version}"></td>
                    <td th:text="${deployment.environment.name}"></td>
                    <td th:text="${deployment.status}"></td>
                </tr>
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" th:text="#{first}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" th:text="#{previous}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" th:text="#{next}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" th:text="#{last}"></a>
                </li>
            </ul>
        </nav>

        <form action="#">
            <div class="input-group">
                <label for="artifactSelect" class="input-group-text" th:text="#{artifact.name}"></label>
                <select id="artifactSelect" name="artifact" class="form-select">
                    <option th:each="artifact : ${allArtifacts}"
                            th:value="${artifact}"
                            th:text="${artifact.name}"></option>
                </select>
                <button class="btn btn-outline-primary" type="button" th:text="#{deploy}"></button>
            </div>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="http://localhost:35729/livereload.js"></script>
    </body>
</html>
