<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deploy</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
    <a th:href="@{/}">Home</a> &gt; <a th:href="@{/environment/{environmentName}(environmentName=${deployment.environment.name})}" th:text="${deployment.environment.name}"></a> &gt; <a th:href="" th:text="${deployment.versionedArtifact.name}"></a> &gt; Deployment #<th:block th:text="${deployment.id}" />

    <span th:text="${versionedArtifact.name}"></span>

    <form action="#" th:action="@{/deploy}" th:object="${versionedArtifact}">
        <button id="deploy" name="deploy" type="button">Deploy</button>
    </form>
</body>
</html>
